<% provide(:title, 'つくったひと') %>
<div id="pageBody">
  <div id="pageBodyMain">
    <article class="articleDetail">
      <div class="pageTitle">
        <h1>つくったひと</h1>
      </div>
      <div class="imageCenter">
        <img src="<%= asset_path "photo/about.jpg" %>" alt="" width="120" height="120"/>
      </div>
      <p>Force.com Developer</p>
      <p>
        HTMLとCSSの勉強中です。
      </p>
      <p>
        HTML/CSSデザインの教科書すごくわかりやすかったです。
      </p>
      <div class="referenceSite">
        <h2>参考：HTML/CSSのデザインの教科書</h2>
        <br/>
        <a href="http://htmlcss.cat-speak.net/" target="_blank">
          http://htmlcss.cat-speak.net/
        </a>
      </div>
    </article>
  </div>
  <div id="pageBodySub">
    <%= render 'layouts/newsList' %>      
  </div>
</div>