<header id="pageHead">
  <div id="siteTitle">
    <h1>T-Yoshikawa Apps</h1>
  </div>
  <p id="catchcopy">
    HTMLとCSSの勉強のためにつくったForce.comサイトです。「HTMLとCSSのデザインの教科書」のサンプルを元につくってみました。
  </p>
  <nav class="globalNavi">
    <ul>
      <li>
        <%= link_to "ホーム", root_path %>
      </li>
      <li>
        <%= link_to "つくったひと", about_path %>
      </li>
      <li>
        <%= link_to "つくったもの", portfolio_path %>
      </li>
      <li>
        <%= link_to "おといあわせ", help_path %>
      </li>
    </ul>
  </nav>
</header>