<section class="newsList">
  <div class="title">
    <h2>おしらせ</h2>
  </div>
  <ul>
    <li>
      <time datetime="2014-01-01">2014年01月03日</time>
      HTML/CSSデザインの教科書を読みながらつくったサンプルページを元にForce.comサイトをつくってみました。
    </li>
    <li>
      <time datetime="2013-12-29">2013年12月29日</time>
      HTML/CSSデザインの教科書を読みおわりました。
    </li>
    <li>
      <time datetime="2013-12-19">2013年12月19日</time>
      HTML/CSSデザインの教科書を読みはじめました。
    </li>
  </ul>
</section>