<nav class="localNavi">
  <div class="title">
    <h2>つくったもの</h2>
  </div>
  <ul>
    <li><%= link_to "はじめてのSaasy", portfolio03_path %></li>
    <li><%= link_to "Cloudforce2012", portfolio02_path %></li>
    <li><%= link_to "Developer Zone", portfolio01_path %></li>
  </ul>
</nav>